@page "/"
@using BankBlazor.Models

<Titulo Texto="Cadastro de Produto"></Titulo>
<Mensagem Msg="@msg"></Mensagem>

<EditForm Model=@produto OnSubmit="@Adicionar" class="p-5 mt-3 border shadow">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <label class="text-muted">Nome</label>
        <InputText @bind-Value=produto.Nome class="form-control"/>
           <ValidationMessage For="@(() => produto.Nome)"></ValidationMessage>

    <label class="text-muted">Preço</label>
        <InputNumber TValue="double" @bind-Value=produto.Preco class="form-control"/>
            <ValidationMessage For="@(() => produto.Preco)"></ValidationMessage>

    <label class="text-muted">Quantidade</label>
        <InputNumber TValue="int" @bind-Value=produto.Quantidade class="form-control"/>   
            <ValidationMessage For="@(() => produto.Quantidade)"></ValidationMessage>
    
    <button type="submit" class="mt-3 btn btn-primary">
        Adicionar
    </button>    
</EditForm> 

<div class="mt-3 p-5 m-b-3 border shadow">
    <p>Nome: @produto.Nome</p>
    <p>Preço: @produto.Preco</p>
    <p>Quantidade: @produto.Quantidade</p>
    <p>Valor do Estoque Total: @produto.ValorEstoqueTotal()</p>
    <br>
    <button @onclick="MostrarDados" class="btn btn-primary">
                    Mostrar Dados
    </button>
</div>

@code {     
    Produto produto = new();

    private string msg = "";
    private void Adicionar(){
        msg = "Produto cadastrado!";
    }
    private void MostrarDados()
    {
        produto.Nome = "Caneta Bic";
        produto.Preco = 2.50;
        produto.Quantidade = 10;
    }
}